.about {
    margin-top: 54px;
    padding: 0;
    .bannerx {
        position: relative;
        height: 70vh;
        overflow: hidden;
        padding: 0;
        .image {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .title {
            position: absolute;
            left: 15vw;
            top: 15vh;
            color: #B92035;
            @media screen and (max-width:766px) {
                top: 5vh;
            }
        }
        .clear {
            clear: both;
        }
        &__btm {
            position: absolute;
            bottom: 10vh;
            left: 15vw;
            display: flex;
            align-items: end;
            width: 80vw;
            justify-content: space-between;
            @media screen and (max-width:766px) {
                display: block;
                bottom: 0;
            }
            .side {
                vertical-align: bottom;
                @media screen and (max-width:766px) {
                    margin-bottom: 16px;
                }
            }
            h2 {
                font-size: 20px;
                font-weight: 200;
            }
            .tag-red {
                background: #B92035;
                color: white;
                width: fit-content;
                padding: 4px 16px;
                font-size: 14px;
                font-weight: 600;
                border-radius: 16px;
                text-transform: uppercase;
            }
            .tupat {
                height: 250px;
                color: white;
                background: #B92035;
                width: 520px;
                border-radius: 0 50px 0 50px;
                display: block;
                @media screen and (max-width:766px) {
                    width: auto;
                }
                .bgs {
                    display: inline-block;
                    color: #B92035;
                    width: 48%;
                    height: 100%;
                    &.foto {
                        // background: yellow;
                        // height: 100%;
                        border-radius: 0 50px 0 0;
                        width: 51%;
                        @media screen and (max-width:766px) {
                            width: 50%;
                        }
                        img {
                            width: 100%;
                            border-radius: 0 50px 0 0;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }

    .paragraph {
        background: #F4F3F9;
        margin: 24px 0;
        position: relative;
        border-top-right-radius: 50px;
        .vector {
            position: absolute;
            right: 0;
            top: 0;
            width: 24%;
            bottom: 0;
            background: #402359;
            border-radius: 0 50px 0 0;
            @media screen and (max-width:766px) {
                width: 5%;
            }
            &::before {
                content: "";
                position: absolute;
                bottom: -80px;
                left: 0;
                height: 80px;
                width: 100px;
                border-bottom-left-radius: 100%;
                background: #b92035;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -80px;
                border-bottom-right-radius: 50px;
                width: 135px;
                left: 100px;
                height: 80px;
                background: #f0f0f0;
            }
        }
        .wrapx {
            display: block;
            height: fit-content;
            .content {
                width: 75%;
                display: inline-block;
                @media screen and (max-width:766px) {
                    width: 90%;
                }
            }
        }
        
    }

    .description {
        .ceki {
            border-radius: 25px !important;
            border-width: 1px !important;
            border-style: solid !important;
            border-color: #d6d6d6 !important;
        }
        table {
            border-radius: 25px;
            overflow: hidden;
            margin-bottom: 0;
            td {
                color: black;
                font-size: 14px;
                &:first-child {
                    width: 25%;
                }
                &:last-child {
                    width: 75%;
                }
            }
        }
    }
}