.exhibitor {
    margin-top: 54px;
    padding: 0;
    .bannerx {
        position: relative;
        height: 40vh;
        overflow: hidden;
        padding: 0;
        @media screen and (max-width:766px) {
            height: 35vh;
        }
        .image {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .title {
            position: absolute;
            left: 15vw;
            top: 15vh;
            color: #B92035;
            @media screen and (max-width:766px) {
                top: 0vh;
            }
        }
        .sub {
            position: absolute;
            left: 15vw;
            top: 23vh;
            font-size: 20px;
            font-weight: 100;
            color: #333;
            @media screen and (min-width:1500px) {
                top: 20vh;
            }
            @media screen and (max-width:766px) {
                top: 15vh;
            }
        }
        .clear {
            clear: both;
        }
        &__btm {
            position: absolute;
            bottom: 10vh;
            left: 15vw;
            display: flex;
            align-items: end;
            width: 80vw;
            justify-content: space-between;
            @media screen and (max-width:766px) {
                display: block;
                bottom: 0;
            }
            .side {
                vertical-align: bottom;
                @media screen and (max-width:766px) {
                    margin-bottom: 16px;
                }
            }
            h2 {
                font-size: 20px;
                font-weight: 200;
            }
            .tag-red {
                background: #B92035;
                color: white;
                width: fit-content;
                padding: 4px 16px;
                font-size: 14px;
                font-weight: 600;
                border-radius: 16px;
                text-transform: uppercase;
            }
            .tupat {
                height: 250px;
                color: white;
                background: #B92035;
                width: 520px;
                border-radius: 0 50px 0 50px;
                display: block;
                @media screen and (max-width:766px) {
                    width: auto;
                }
                .bgs {
                    display: inline-block;
                    color: #B92035;
                    width: 48%;
                    height: 100%;
                    &.foto {
                        // background: yellow;
                        // height: 100%;
                        border-radius: 0 50px 0 0;
                        width: 51%;
                        @media screen and (max-width:766px) {
                            width: 50%;
                        }
                        img {
                            width: 100%;
                            border-radius: 0 50px 0 0;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }

    .gradient {
        // background: linear-gradient(90deg, #F7E096 0%, #E8B43A 13.02%, #F7E096 100%);
        height: 60px;
        background: #38734E;
    }

    .filter {
        display: block;
        .floating-help{
            display: none;
            @media screen and (max-width:766px) {
                text-align: center;
                display: block;
                background: #d6d6d6;
                position: fixed;
                bottom: 8px;
                transform: translate(50%,0);
                left: 15%;
                // font-weight: 600;
                border-radius: 16px;
                right: 0;
                width: fit-content;
                padding: 8px;
                z-index: 298;
            }
            
        }
        &__left {
            display: inline-block;
            vertical-align: top;
            width: 20%;
            background-color: #F4F3F9;
            padding: 16px;
            border-radius: 16px;
            .closex {
                display: none;
                @media screen and (max-width:766px) {
                    display: block;
                    position: absolute;
                    right: 16px;
                    top: 16px;
                    font-size: 20px;
                }
            }
            @media screen and (max-width:766px) {
                width: 100%;
                display: none;
                position: fixed;
                overflow-y: scroll;
                left: 0;
                right: 0;
                height: 90%;
                top: 75px;
                bottom: 50px;
                z-index: 299;
            }
            h3 {
                font-size: 16px;
                border-bottom: 1px solid;
                padding-bottom: 8px;
            }
            .group {
                margin: 24px 0;
                .name {
                    font-size: 14px;
                    font-weight: 600;
                }
                .form-check-label {
                    font-size: 13px;
                }
            }
        }
        &__right {
            display: inline-block;
            margin-left: 16px;
            vertical-align: top;
            width: 75%;
            @media screen and (max-width:766px) {
                width: auto;
            }
            .tablet {
                // display: block;
                display: flex;
                justify-content: space-around;
                align-items: center;
                align-content: center;
                width: fit-content;
                padding: 0;
                margin: 0;
                border: 1px solid #232659;
                list-style: none;
                border-radius: 25px;
                &__list {
                    padding: 4px 16px;
                    // display: inline-block;
                    // width: 30%;
                    text-align: center;
                    font-size: 14px;
                    // background: #E8B43A;
                    border-right: 1px solid;
                    a {
                        color: #232659;
                    }
                    &:last-child {
                        border-radius: 0 25px 25px 0;
                        border-right: 1px solid transparent;
                    }
                    &:first-child {
                        border-radius: 25px 0 0 25px;
                    }
                }
                .active {
                    background: #232659;
                    a {
                        color: white !important;
                    }
                }
            }

            .abjad {
                border: 1px solid #3F2359;
                border-radius: 8px;
                padding: 8px;
                margin-top: 8px;
                a {
                    color: #000;
                    margin-right: 8px;
                }
            }

            .gradients {
                background: #3F2359;
                height: 45px;
                width: 100%;
                margin: 8px 0;
                border-radius: 8px;
            }
            .product {
                background: #F4F3F9;
                margin: 8px 0;
                border:1px solid #A9A9A9;
                cursor: pointer;
                transition: .3s;
                a {
                    &:hover {
                        text-decoration: none;
                    }
                }
                .d-block {
                    padding: 16px;
                    border-bottom: 1px solid #a9a9a9;
                }
                .bawah {
                    padding: 16px;
                }
                &__logo {
                    width: 120px;
                    height: 120px;
                    display: inline-block;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                &__detailx {
                    display: inline-block;
                    width: 50%;
                    margin-left: 16px;
                    vertical-align: middle;
                    @media screen and (max-width:766px) {
                        margin-left: 4px;
                    }
                    .name {
                        color: #402359;
                        font-weight: 700;
                    }
                    .category,.loc {
                        font-size: 14px;
                        color: #000;
                    }
                    i {
                        color: #EE2134;
                    }
                }
                &:hover {
                    border: 1px solid #3F2359;
                }
                .bungkus {
                    padding: 8px;    
                }
                &__name {
                    color: #402359;
                    font-size: 14px;
                    font-weight: 600;
                }
                .induk {
                    color: #000;
                    font-size: 14px;
                }
                .alamat {
                    color: #333;
                    font-size: 12px;
                }
            }
        }
    }

    .productx {
        .fotox {
            background: #F4F3F9;
            overflow-x: hidden;
            .imagesx {
                width: 100%;
                height: 220px;
                margin: 8px;
                &__small{
                    width: 100%;
                    height: 60px;
                    margin: 4px;
                    cursor: pointer;
                    &:hover {
                        opacity: .8;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        &__content {
            background: #F4F3F9;
            padding: 16px;
            @media screen and (max-width:766px) {
                margin: 16px 0;
            }
            .namename {
                color: #838383;
                margin: 8px 0 16px;
            }
        }
        &__send {
            background: #F4F3F9;
            padding: 16px;
        }
    }
    .herox {
        padding: 0;
        margin-top: 80px;
    }
    .prembule {
        background: #F4F3F9;
        .cek {
            margin-bottom: 4px;
            i {
                color: #a9a9a9;
                // font-size: 18px;
                margin-right: 4px;
            }
            .fa-map-marker {
                color: #232659 !important;
            }
        }
        .desc {
            font-size: 14px;
        }
    }
    .compro {
        background: #F4F3F9;
        padding: 32px 0 8px;
        .product {
            background: #F4F3F9;
            margin: 16px 0;
            border:1px solid #A9A9A9;
            cursor: pointer;
            transition: .3s;
            a {
                &:hover {
                    text-decoration: none;
                }
            }
            .d-block {
                padding: 16px;
                border-bottom: 1px solid #a9a9a9;
            }
            .bawah {
                padding: 16px;
            }
            &__logo {
                width: 120px;
                height: 120px;
                display: inline-block;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &__detailx {
                display: inline-block;
                width: 50%;
                margin-left: 16px;
                vertical-align: middle;
                .name {
                    color: #402359;
                    font-weight: 700;
                }
                .category,.loc {
                    font-size: 14px;
                    color: #000;
                }
                i {
                    color: #EE2134;
                }
            }
            &:hover {
                border: 1px solid #3F2359;
            }
            .bungkus {
                padding: 8px;    
            }
            &__name {
                color: #402359;
                font-size: 14px;
                font-weight: 600;
            }
            .induk {
                color: #000;
                font-size: 14px;
            }
            .alamat {
                color: #333;
                font-size: 12px;
            }
        }
    }
    .gardient-title {
        // background: linear-gradient(90deg, #F7E096 0%, #E8B43A 13.02%, #F7E096 100%);
        background: #38734E;
        padding: 16px;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
    }

    .wrap {
        display: block;
    }
    .business {
        margin: 16px 0;
        border-radius: 16px;
        @media screen and (max-width:766px) {
            overflow-x: auto;
        }
        .center-table {
            margin: 0 auto;
            display: block;
            // width: 860px;
            width: fit-content;
            table {
                // border-collapse: separate;
                // border-spacing: 0;
                // border-spacing: 1em;
                // margin: 1rem auto;
            }
            tr {
                margin: 8px;
                
            }
            td {
                // border: solid 1px #000;
                // border-style: none solid solid none;
                padding: 8px 16px;
                border-radius: 16px;
                margin: 8px;
                .status {
                    .color{
                        &-green {
                            color: #38734E;
                            font-size: 600;
                        }
                        &-yellow {
                            color: #FFA200;
                            font-size: 600;
                        }
                        &-blue {
                            color: #0D74BB;
                            font-size: 600;
                        }
                    }
                }
                &:last-child {
                    .action {
                        padding: 0 8px;
                        border-radius: 25px;
                        border: 1px solid #232659;
                        color: #232659;
                        text-align: center;
                    }

                }
            }
        }
        &__left {
            display: inline-block;
            border-radius: 16px 0 0 16px;
            width: 35%;
            padding: 16px;
            text-align: center;
            // background: linear-gradient(90deg, #F7E096 0%, #E8B43A 13.02%, #F7E096 100%);
            background: #38734E;
            h2 {
                color: #fff;
                font-size: 24px;
                
            }
            h4,h3,i {
                color: #fff;
                font-weight: 100;
                font-size: 18px;
                width: 60%;
                margin: 0 auto;
            }
           
        }
        &__right {
            border-radius: 0 16px 16px 0;
            display: inline-block;
            width: 60%;
            vertical-align: top;
            background: #F4F3F9;
            padding: 16px;
            h2 {
                color: #333;
                text-align: center;
                margin-bottom: 16px;
                font-size: 24px;
            }
            .warning {
                position: absolute;
                bottom: -20px;
                color: red;
                display: none;
                font-size: 10px;
                font-style: italic;
                &.show {
                    display: block !important;
                }
            }
            .message {
               
                .select2-container .select2-selection--single {
                    height: 48px ;
                }
                .select2-container--default .select2-selection--single .select2-selection__arrow {
                    top: 12px !important;
                }
                .select2-container--default .select2-selection--single .select2-selection__rendered {
                    line-height: 46px;
                }
                .select2+label {
                    left: 8px;
                    font-weight: 600!important;
                    color: #38734E!important;
                    position: absolute;
                    top: -8px;
                    font-size: 12px;
                    background: #f7f7f7;
                    padding: 0 4px;
                }
                .form-outline {
                    position: relative;
                    .form-control {
                        padding: 12px;
                        height: 48px!important;
                        padding: 8px 16px;
                        border: 1px solid #d6d6d6;
                        width: 100%!important;
                        background: white;
                        border-radius: 8px;
                        transition: all .2s linear;
                        &:focus {
                            box-shadow: none;
                            border-color: #38734E;
                            &~.form-label {
                                color: #38734E;
                                -webkit-transform: translateY(-1rem) translateY(0.1rem) scale(.8);
                                transform: translateY(-1rem) translateY(0.1rem) scale(.8);
                                background: white;
                                padding: 0 4px;
                                font-weight: 600;
                            }
                        }
                        &.activex {
                            &~.form-label {
                                transform: translateY(-1rem) translateY(.1rem) scale(.8);
                                position: absolute;
                                color: #38734E;
                                // top: 5px;
                                font-weight: 600;
                                background: #fff;
                                font-weight: 600;
                                padding: 0 4px
                            }
                        }
                    }
                    .form-label {
                        position: absolute;
                        top: 8px;
                        max-width: 90%;
                        font-size: 14px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        left: 16px;
                        padding-top: 0.37rem;
                        pointer-events: none;
                        -webkit-transform-origin: 0 0;
                        transform-origin: 0 0;
                        -webkit-transition: all .2s ease-out;
                        transition: all .2s ease-out;
                        color: black;
                        margin-bottom: 0;
                    }
                }
                .mb-4 {
                    margin-bottom: 32px;
                }
                .addon{
                    position: absolute;
                    color: #38734E !important;
                    // top: 5px;
                    font-weight: 600;
                    font-size: 12px !important;
                    font-weight: 600;
                    padding: 0 4px
                }
                .jam {
                    padding: 16px;
                    .matrix-1 {
                        // opacity: 0;
                        display: none;
                    }
                    &__tag {
                        display: inline-block;
                        padding: 8px 16px;
                        border-radius: 16px;
                        font-size: 14px;
                        cursor: pointer;
                        margin: 0px 16px 16px 0 ;
                        // font-weight: 600;
                        border: 1px solid;
                        color: #333;
                        &:hover {
                            border: 1px solid #38734E;
                            color: #38734E;
                        }
                        &.disable_ {
                            background: #a9a9a9;
                            color: rgb(75, 75, 75);
                            pointer-events: none;
                        }
                        &.active_ {
                            background: #38734E;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .conference {
        .card {
            padding: 8px;
            margin: 16px 0;
            border-color: transparent;
            background: #EEEEEE;
            .time {
                font-size: 14px;
            }
            .btn-trp {
                padding: 4px !important;
            }
        }
    }
}